.form{
    background-color: lightseagreen;
    height: 100vh;
    width: 100%;
    h1{
        color: white;
        font-size: 5vw;
        margin-left: 2vw;
    }
}

main{
    position: absolute;
    top: 10vw;
    left: 38vw;
}
form{ 
    
    label{
        width: 10vw;
        color:white;
        font-weight: 500;
        font-size: 1.5vw;
    }
    .input-contact{
        align-self: stretch;
        width: 20vw;
        margin: 1vw;
        text-align: justify;
        border-radius: 7px;
        border: none;
        padding: .5vw;

    }
}


.btn{
    background-color: white;
    color: lightseagreen;
    font-size: large;
    font-weight: 900;
    border: none;
}


.navbar{
    h2{
      color: white;
    }
    ul.list li a{
      color: white;
    }
  }


  @media (max-width:450px) {
    
    main{
        position: absolute;
        top: 20vh;
        left: 15vw;
    }
    form{ 
        margin-top: 4vh;
        label{
           
            width: 15vh;
            font-weight: 400;
            font-size: 4vw;
        }
        .input-contact{
            align-self: stretch;
            width: 15vh;
            margin-bottom: 3vh;
            text-align: justify;
        }
    }
    .btn{
        font-size: large;
        margin-top: 3vh;
    }
    
}


